#menu-item-1854 a {
    background: #583f99 !important;
    border: 1px solid #583f99;
    border-radius: 4px;
}
#menu-item-1854 a:hover {
    background: none !important;
}
#single-page.contact {
    float: none !important;
    width: 100% !important;
}
#single-page.contact .wpcf7-form span {
    width: 100%;
}
#pre-header ul {
    list-style-type: none;
    padding-left: 0px;
    text-align: right;
    width: 100%;
}
#pre-header ul li {
    display: inline-block;
}
#pre-header ul li a {
    color: white;
    font-size: 0.7em;
    font-weight: 100;
    opacity: 0.7;
    padding: 15px 25px;
    line-height: 1;
    text-transform: uppercase;
}