.content {
	padding-bottom: 80px !important;
}

#content button {
	border: 0;
	cursor: pointer;
	float: right;
	font-family: inherit;
	font-size: 13px;
	line-height: 35px;
	margin: 10px 0 15px 10px;
	text-align: center;
}

#content button[type="submit"] {
	background-color: #0070b7;
	border-radius: 2px;
	box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.2) inset;
	-moz-box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.2) inset;
	color: #fff;
	padding: 0 10px;
	-webkit-transition: background-color 0.15s linear;
	-moz-transition: background-color 0.15s linear;
	-ms-transition: background-color 0.15s linear;
	-o-transition: background-color 0.15s linear;
	transition: background-color 0.15s linear;
	width: 80px;
}

#content button[type="submit"]:hover,
#content button[type="submit"]:focus {
	background-color: #72be44;
}

#content button[type="submit"]:disabled {
	background-color: #eee;
	color: #bbb;
	cursor: default;
}

#content button[type="reset"] {
	background: none;
	color: #999;
	padding: 0 5px;
	-webkit-transition: color 0.15s linear;
	-moz-transition: color 0.15s linear;
	-ms-transition: color 0.15s linear;
	-o-transition: color 0.15s linear;
	transition: color 0.15s linear;
}

#content button[type="reset"]:hover,
#content button[type="reset"]:focus {
	color: #f04124;
}

#content button[type="reset"]:disabled {
	color: #bbb;
	cursor: default;
}

#content legend {
	color: #51934b;
	font-size: 18px;
	margin: 10px 0 5px;
	padding-top: 30px;
}

#content label {
	color: #333;
	cursor: pointer;
	display: block;
	font-size: 11px;
	font-weight: normal;
	line-height: 20px;
	margin-bottom: 0;
}

#content input[type="text"],
#content select,
#content textarea {
	-webkit-appearance: none !important;
	-moz-appearance: none !important;
	background-color: #fafafa;
	border: 1px solid #ccc;
	border-bottom: 2px solid #ccc;
	border-radius: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: rgba(0, 0, 0, 0.75);
	display: block;
	font-family: inherit;
	font-size: 11px;
	height: 30px;
	margin: 0;
	-webkit-transition: border-color 0.15s linear, background-color 0.15s linear;
	-moz-transition: border-color 0.15s linear, background-color 0.15s linear;
	-ms-transition: border-color 0.15s linear, background-color 0.15s linear;
	-o-transition: border-color 0.15s linear, background-color 0.15s linear;
	transition: border-color 0.15s linear, background-color 0.15s linear;
}

#content input[type="text"],
#content textarea {
	padding: 5px;
}

#content input[type="checkbox"],
#content input[type="radio"] {
	margin: 0 0 10px 0;
	width: 15px;
}

#content input[type="checkbox"] + label,
#content input[type="radio"] + label {
	color: #666;
	display: inline-block;
	font-weight: normal;
	margin: 0 14px 0 2px;
	vertical-align: baseline;
}

#content select {
	background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMTJweCIgeT0iMHB4IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIzcHgiIHZpZXdCb3g9IjAgMCA2IDMiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDYgMyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBvbHlnb24gcG9pbnRzPSI1Ljk5MiwwIDIuOTkyLDMgLTAuMDA4LDAgIi8+PC9zdmc+");
	background-position: 100% center;
	background-repeat: no-repeat;
	line-height: normal;
	overflow: hidden;
	padding-right: 25px;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#content optgroup {
	font-style: normal;
	font-weight: bold;
}

#content textarea {
	height: 120px;
}

#content input[type="text"]:focus,
#content select:focus,
#content textarea:focus {
	background-color: #fff;
	border-bottom-color: #72be44;
}

#content input[type="text"]:disabled,
#content select:disabled,
#content textarea:disabled {
	background-color: #eee;
	border-color: #ddd;
	color: #bbb;
	cursor: default;
}

#content label.error {
	color: #f04124 !important;
}

#content input[type="text"].error,
#content select.error,
#content textarea.error {
	border-bottom-color: #f04124 !important;
}

#content .field-sm {
	width: 75px;
}

#content .field-md {
	width: 150px;
}

#content .field-lg {
	width: 220px;
}

#content .field-xl {
	width: 300px;
}

#content .field-full {
	width: 100%;
}

#content ul.field-group {
	overflow: hidden;
	padding: 0 !important;
	width: 100% !important;
	list-style-type: none;
}

#content ul.field-group li {
	background: none;
	clear: none !important;
	float: left;
	margin: 0;
	padding: 0;
	padding-right: 10px;
}

#content .complimentary {
	color: #bbb;
}

#content .alert-box {
	background-color: #a0d3e8;
	border: 1px solid #74bfdd;
	border-radius: 3px;
	color: #4f4f4f;
	display: block;
	margin-bottom: 10px;
	overflow: hidden;
	padding: 10px 15px;
}

#content .alert-box.failure {
	background-color: #f04124;
	border-color: #de2d0f;
	color: #fff;
}

#content .alert-box.success {
	background-color: #43ac6a;
	border-color: #3a945b;
	color: #fff;
}

#content .alert-box.warning {
	background-color: #f08a24;
	border-color: #de770f;
	color: #fff;
}

#content .alert-box a {
	color: inherit;
	font-weight: bold;
}

#content .alert-box a:hover {
	color: inherit;
	text-decoration: underline;
}

#content .alert-box button {
	background: inherit;
	box-shadow: none;
	-moz-box-shadow: none;
	color: inherit;
	margin: 10px 0 0;
}

#content .alert-box button[type="submit"]:hover {
	background: rgba(0, 0, 0, 0.2);
}

#content .alert-box ul {
	margin: 0;
	overflow: hidden;
	padding: 0;
}

#content .alert-box ul li {
	background: none;
	clear: none;
	line-height: 16px;
	margin: 2px 0 6px 10px;
	overflow: unset;
	padding: 0;
	position: relative;
}

#content .alert-box ul li:before {
	color: inherit;
	content: "•";
	font-size: 11px;
	left: -10px;
	position: absolute;
	text-align: left;
	top: 0px;
	width: 10px;
}
