#menu-item-1861 a {
    background: #583f99 !important;
    border: 1px solid #583f99;
    border-radius: 4px;
}
#menu-item-1861 a:hover {
    background: none !important;
}
#reclamos {
    width: 100%;
    max-width: 195px;
    float: right;
}
#reclamos a {
    float: right;
}
#reclamos a img {
    float: left;
}
#reclamos a p {
    float: right;
    padding-top: 10px;
}
.features-tabs .tabs {
    margin-top: 0px;
    position: absolute;
    top: -87px;
}
.features-tabs .tab a.active .triangle {
    top: inherit;
    bottom: -10px;
    transform: rotate(180deg);
}